

/* Mis estilos */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.body-bg{
    background-image: url(../img/background_squares.jpg);
    background-attachment: fixed;
}

.bg-nav-grey{	
    background-color: #434645;
    opacity: .7;
}

.bg-nav-aqua{	
    background-color: #6fbdb0;
}

.text-titulos{	
    color: #528e86;
    font-size: 3rem;
}

.text-subt{	
    color: #6fbdb0;
    font-size: 2rem;
}

.text-med{	
    color: #7c8180;
    font-size: 1.5rem;
}

.text-white{	
    color: #ffffff;
    font-size: 1.5rem;
}

.text-bot{	
    color: #ffffff;
    font-size: 1.5rem;
}

.text-btn{	
    color: #ffffff;
    font-size: 1.25rem;
}

.text-btn:hover{	
    color: #ffffff;
    background-color: #528e86;
    font-weight: 400;
    transform: scale(1.1)
}

.text-bold{	
    font-size: 1.25rem;
    font-weight: 600;
}

.text-bold-color{	
    color: #6fbdb0;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-aqua{	
    color: #ffffff;
    background-color: #6fbdb0;
}

.btn-aqua:hover{	
    color: #ffffff;
    background-color: #528e86;
    font-weight: 400;
    transform: scale(1.1)
}

footer{	
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.anchoFooter{	
    margin-top: 40px;
}

.redes{	
    display: inline-block
}

.bi-linkedin{	
    font-size: 40px;
    text-align: center;
    margin-left: 8PX;
    margin-right: 8PX;
    color: #6fbdb0;
    text-decoration: none;
}

.bi-linkedin:hover {	
    color: #528e86
}

.bi-twitter{	
    font-size: 40px;
    text-align: center;
    margin-left: 8PX;
    margin-right: 8PX;
    color: #6fbdb0;
    text-decoration: none;
}

.bi-twitter:hover {	
    color: #528e86
}

.bi-instagram{	
    font-size: 40px;
    text-align: center;
    margin-left: 8PX;
    margin-right: 8PX;
    color: #6fbdb0;
    text-decoration: none;
}

.bi-instagram:hover {	
    color: #528e86
}


/* Media queries*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

